@import '../../../../variables.scss';
.card {
  background-color: $background-lighter;
  border: 0;
  border-radius: 0.5rem;
  box-shadow:
    0 2px 4px rgba(0, 0, 20, 0.08),
    0 1px 2px rgba(0, 0, 20, 0.08);
}
