// VARIABLES

$text-dark: #1e293b;
$text-primary: #475569;

$background-light: #f1f5f9;
$background-lighter: #fffefe;
$background-transparent: rgba(134, 131, 155, 0.5);

$blue: #624bff;
$green: #00c48c;
$yellow: #ff9f43;
$red: #ff5b5b;
$shadow: rgb(122, 102, 255);
